# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[containers]
container_type=<container_type>
default_container_name=<container_instance_name>
host_ip=<ip_address>
host_username=<username>
host_password=<password>
host_port=<host_port>
container_ip=<ip_address>
container_username=<username>
container_password=<password>
lxc_cmd_delay=<seconds>
no_cleanup=False
show_configs=<boolean_value>

[container_test_info]
virtualization_mem_limit_kb=<mem_limit>
virtualization_mem_tolerance_kb=<tolerance_range>
mkdir_depth=<mkdir_depth>
max_fork_procs=<max_number_of_forked_processes>
host_pollution_user=<host_pollution_user>
temp_mkdir_dir=<directory>
debug=False
